<!-- welcome.component.html -->
<div class="bg-image">
    <div class="container d-flex align-items-center justify-content-center vh-100">
      <div class="welcome-content text-center">
        <h1>Bienvenido a nuestra Biblioteca Virtual</h1>
        <p class="lead">Tu puerta de acceso al conocimiento y la imaginación</p>
        <div class="objectives">
          <h2>Nuestros Objetivos:</h2>
          <ul class="list-unstyled">
            <li>Proporcionar acceso fácil y rápido a una amplia colección de libros digitales</li>
            <li>Fomentar el hábito de la lectura en nuestra comunidad</li>
            <li>Ofrecer recursos educativos para estudiantes de todas las edades</li>
            <li>Preservar y difundir el patrimonio literario y cultural</li>
          </ul>
        </div>
        <button class="btn btn-primary btn-lg" routerLink="/catalogo">Explorar Catálogo</button>
      </div>
    </div>
  </div>